html, body {
  margin: 0;
  padding: 0;
    background-color: #1c1c1c;
}

.header {
  background-color: #1c1c1c;
  font-family: sans-serif;
}

h1 {
  color: #ffa800;
}

.header h1 span {
  color: #fff;
}

.dropdown-menu {
  padding: 0.8rem;
  margin-top: 1rem;
  margin-left: 1rem;
}

.form-group {
  margin-top: 1.2rem;
  margin-bottom: 1.2rem;
}

.email-error, .password-error {
  background-color: black;
  height: 30px;
  width: 100%;
  border: 1px solid black;
  margin-bottom: 0;
  color: #fff;
  font-size: 18px;
  padding: 8px;
  line-height: 10px;
  text-shadow: rgba(0, 0, 0, 0.7) 1px 1px 2px;
}

.dropdown-divider {
  margin-top: 1rem;
}

.container {
  max-width: 940px;
}

.main {
  background: url(../images/bg.jpg) no-repeat center center;
  background-size: cover;
  height: 1000px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


#accordion {
  text-align: left;
  border: 1px solid #fff;
  border-radius: 0;
  margin-top: 1.2rem;
}

 .card, .card-header {
  border-radius: 0!important; 
 }

.card-header {
  cursor: pointer;
  color: #fff;  
  background-color: #1c1c1c;
}

.card-body {
  padding: 1rem;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

.supporting, .footer {
  background-color: #1c1c1c;
  color: #fff;  
}

.middle-text {
  padding-top: 40px;
  padding-bottom: 30px;
}

.supporting h2 {
    font-size: 24px;
}

.supporting p {

}

.middle-photo {
  background: url(../images/01.jpg) no-repeat center center;
  background-size: cover;
  height: 700px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;    
}

.footer p {
  color: #999;
  font-size: 11px;  
}


/* Turn off parallax scrolling for tablets and phones. Increase/decrease the pixels if needed */
@media only screen and (max-device-width: 1024px) {
    .main, .middle-photo {
        background-attachment: scroll;
        height: 500px;
    }
}
